<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Newbie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="black">
    <h4 style="text-align: center">R-Gift</h4>
    <h5 style="text-align: center">It seems like you are using this app for the first time.</h5>
    <h5 style="text-align: center">Start by generating a token so that you can connect your list of gifts with your partner.</h5>
    <ion-button expand="full" color="tertiary">Generate Token</ion-button>
  </ion-text>
</ion-content>
