<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      List of wishes
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <!-- This ng-container is only for displaying some skeleton items if no entries are in the database -->
    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0,1]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let item of todos">
      <ion-item lines="inset" button [routerLink]="['/details', item.id]">
        <ion-label>
          {{ item.task }}
          <p>Created at: {{ item.createdAt | date:'short' }}</p>
        </ion-label>
        <ion-note slot="end" color="tertiary">{{ item.priority }}</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
 
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
